@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*
-- Opacity Values --
  95% [0.95] -> F2
  90% [0.90] -> E6
  85% [0.85] -> D9
  80% [0.80] -> CC
  75% [0.75] -> BF
  70% [0.70] -> B3
  65% [0.65] -> A6
  60% [0.60] -> 99
  55% [0.55] -> 8C
  50% [0.50] -> 80
  45% [0.45] -> 73
  40% [0.40] -> 66
  35% [0.35] -> 59
  30% [0.30] -> 4D
  25% [0.25] -> 40
  20% [0.20] -> 33
  15% [0.15] -> 26
  10% [0.10] -> 1A
  5%  [0.05] -> 0D
*/

@theme {
  /* Colors */
  --color-cyan-500: #14F0E5;

  --color-deep-blue-500: #2042ED;

  --color-gray-100: #E1E0E1;
  --color-gray-250: #AFAEAF;
  --color-gray-350: #919091;
  --color-gray-400: #8B8A8B;
  --color-gray-500: #727272;
  --color-gray-600: #444344;
  --color-gray-650: #363636;
  --color-gray-700: #2A292A;
  --color-gray-750: #242324;
  --color-gray-800: #1F1E1F;
  --color-gray-850: #1B1A1B;
  --color-gray-900: #131213;

  --color-green-400: #66EF00;

  --color-magenta-500: #CD0AFE;

  --color-orange-400: #FFD433;
  --color-orange-500: #FEC50A;

  --color-red-400: #FE1131;

  /* Fonts */
  --font-sans: "DM Sans", sans-serif;

  /* Texts */
  --text-heading01-40: 2.5rem;
  --text-heading01-40--line-height: 3.25rem;
  --text-heading01-40--font-weight: 400;

  --text-heading01-28: 1.75rem;
  --text-heading01-28--line-height: 2.25rem;
  --text-heading01-28--font-weight: 400;

  --text-heading02-32: 2rem;
  --text-heading02-32--line-height: 2.25rem;
  --text-heading02-32--font-weight: 500;

  --text-heading02-24: 1.5rem;
  --text-heading02-24--line-height: 1.75rem;
  --text-heading02-24--font-weight: 500;

  --text-heading03-24: 1.5rem;
  --text-heading03-24--line-height: 1.75rem;
  --text-heading03-24--font-weight: 500;

  --text-heading03-20: 1.25rem;
  --text-heading03-20--line-height: 1.5rem;
  --text-heading03-20--font-weight: 500;

  --text-normal-13: 0.8125rem;
  --text-normal-13--line-height: 1.125rem;
  --text-normal-13--font-weight: 500;

  --text-normal-14: 0.875rem;
  --text-normal-14--line-height: 1.25rem;
  --text-normal-14--font-weight: 500;

  --text-small-12: 0.75rem;
  --text-small-12--line-height: 1rem;
  --text-small-12--font-weight: 500;

  /* Shadows */
  --shadow-small:  2px 2px 8px 0 #00000026;
  --shadow-medium: 4px 4px 12px 0 #00000040;

  /* Spacing */
  --spacing-280: 70rem;
  --spacing-184: 46rem;
  --spacing-120: 30rem;

  /* Text Shadow */
  --text-shadow-hero: 0 4px 4px #00000040;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply min-h-screen bg-gray-900 font-sans;
  }

  body {
    @apply min-h-screen w-screen overflow-x-hidden text-neutral-100 [&::-webkit-scrollbar]:w-[9px] [&::-webkit-scrollbar-track]:bg-neutral-800
    [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-neutral-700;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }
}